.mapboxgl-marker.poi-marker {
  pointer-events: auto !important;
  cursor: pointer !important;
  position: absolute !important;
}

.poi-marker {
  width: 20px !important;
  height: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgba(47, 54, 64, 1) !important;
  position: relative !important;
  border-radius: 30% !important;
}

.poi-marker .poi-icon {
  color: #FFFFFF !important;
  font-size: 10px !important;
  line-height: 1px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.poi-marker.plus-badge {
  background-color: rgb(235, 77, 75) !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  font-size: 12px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
